.header {
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  background-color: bisque;
}
.header > a > img {
  height: 100px;
  margin: 5px;
}

.header > ul {
  display: flex;
  justify-content: center;
  margin: 5px;
}

ul > li {
  list-style: none;
  margin: 5px;
}
.card {
  width: 200px;
  border: 1px solid black;
  margin: 5px;
  padding: 5px;
}
.card > img {
  width: 100%;
  height: 250px;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.durvish {
  color: rgb(118, 91, 186);
}
.product-details > img {
  width: 200px;
}
